@font-face {
	font-family: Roboto;
	src: local("Roboto Thin"), local("Roboto-Thin"), url(http://fonts.gstatic.com/s/roboto/v15/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Light"), local("Roboto-Light"), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Medium"), local("Roboto-Medium"), url(http://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Bold"), local("Roboto-Bold"), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Black"), local("Roboto-Black"), url(http://fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url(http://fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-YRsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url(http://fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at4bN6UDyHWBl620a-IRfuBk.woff) format("woff");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Italic"), local("Roboto-Italic"), url(http://fonts.gstatic.com/s/roboto/v15/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url(http://fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff) format("woff");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url(http://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff) format("woff");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: Roboto;
	src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url(http://fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpYbN6UDyHWBl620a-IRfuBk.woff) format("woff");
	font-weight: 900;
	font-style: italic;
}
