html {
	background: rgb(255, 255, 255); color: rgb(0, 0, 0);
}
html {
	margin: 0px; padding: 0px;
}
body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
code {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
fieldset {
	border: 0px currentColor; border-image: none;
}
img {
	border: 0px currentColor; border-image: none;
}
address {
	font-style: inherit; font-weight: inherit;
}
caption {
	font-style: inherit; font-weight: inherit;
}
cite {
	font-style: inherit; font-weight: inherit;
}
code {
	font-style: inherit; font-weight: inherit;
}
dfn {
	font-style: inherit; font-weight: inherit;
}
em {
	font-style: inherit; font-weight: inherit;
}
strong {
	font-style: inherit; font-weight: inherit;
}
th {
	font-style: inherit; font-weight: inherit;
}
var {
	font-style: inherit; font-weight: inherit;
}
optgroup {
	font-style: inherit; font-weight: inherit;
}
del {
	text-decoration: none;
}
ins {
	text-decoration: none;
}
li {
	list-style: none;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
h1 {
	font-size: 100%; font-weight: normal;
}
h2 {
	font-size: 100%; font-weight: normal;
}
h3 {
	font-size: 100%; font-weight: normal;
}
h4 {
	font-size: 100%; font-weight: normal;
}
h5 {
	font-size: 100%; font-weight: normal;
}
h6 {
	font-size: 100%; font-weight: normal;
}
q::before {
	content: "";
}
q::after {
	content: "";
}
abbr {
	border: 0px currentColor; border-image: none; font-variant: normal;
}
acronym {
	border: 0px currentColor; border-image: none; font-variant: normal;
}
sup {
	vertical-align: baseline;
}
sub {
	vertical-align: baseline;
}
legend {
	color: rgb(0, 0, 0);
}
input {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
button {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
textarea {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
select {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
optgroup {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
option {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
input {
	
}
button {
	
}
textarea {
	
}
select {
	
}
body {
	font: 13px/1.231 arial, helvetica, clean, sans-serif; font-size-adjust: none; font-stretch: normal;
}
select {
	font: 99%/normal arial, helvetica, clean, sans-serif; font-size-adjust: none; font-stretch: normal;
}
input {
	font: 99%/normal arial, helvetica, clean, sans-serif; font-size-adjust: none; font-stretch: normal;
}
button {
	font: 99%/normal arial, helvetica, clean, sans-serif; font-size-adjust: none; font-stretch: normal;
}
textarea {
	font: 99%/normal arial, helvetica, clean, sans-serif; font-size-adjust: none; font-stretch: normal;
}
button {
	font: 99%/normal arial, helvetica, clean, sans-serif; font-size-adjust: none; font-stretch: normal;
}
table {
	font-size: inherit;
}
pre {
	line-height: 100%; font-family: monospace;
}
code {
	line-height: 100%; font-family: monospace;
}
kbd {
	line-height: 100%; font-family: monospace;
}
samp {
	line-height: 100%; font-family: monospace;
}
tt {
	line-height: 100%; font-family: monospace;
}
