@font-face {
	font-family: blogicon;
	src: url(/fonts/public/blogicon/blogicon-regular.woff?version=a3959bc45efbbd2397d252641df31a00ac54d6e6) format("woff"), url(/fonts/public/blogicon/blogicon-regular.otf?version=632d28807f3d4285dd3edb48bcf9ad157cd79634) format("opentype");
	font-weight: normal;
	font-style: normal;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
summary {
	display: block;
}
audio {
	display: inline-block;
}
canvas {
	display: inline-block;
}
video {
	display: inline-block;
}
audio:not([controls]) {
	height: 0px; display: none;
}
[hidden] {
	display: none;
}
html {
	font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
body {
	margin: 0px;
}
a:focus {
	outline: dotted thin;
}
a:active {
	outline: 0px;
}
a:hover {
	outline: 0px;
}
h1 {
	font-size: 2em;
}
abbr[title] {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted;
}
b {
	font-weight: bold;
}
strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
mark {
	background: rgb(255, 255, 0); color: rgb(0, 0, 0);
}
code {
	font-family: monospace, serif; font-size: 1em;
}
kbd {
	font-family: monospace, serif; font-size: 1em;
}
pre {
	font-family: monospace, serif; font-size: 1em;
}
samp {
	font-family: monospace, serif; font-size: 1em;
}
pre {
	white-space: pre-wrap; -ms-word-wrap: break-word;
}
q {
	quotes: "g" "h" "e" "f";
}
small {
	font-size: 80%;
}
sub {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0px currentColor; border-image: none;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 0px;
}
fieldset {
	margin: 0px 2px; padding: 0.35em 0.62em 0.75em; border: 1px solid rgb(192, 192, 192); border-image: none;
}
legend {
	padding: 0px; border: 0px currentColor; border-image: none;
}
button {
	margin: 0px; font-family: inherit; font-size: 100%;
}
input {
	margin: 0px; font-family: inherit; font-size: 100%;
}
select {
	margin: 0px; font-family: inherit; font-size: 100%;
}
textarea {
	margin: 0px; font-family: inherit; font-size: 100%;
}
button {
	line-height: normal;
}
input {
	line-height: normal;
}
button {
	cursor: pointer; -webkit-appearance: button;
}
html input[type='button'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='reset'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='submit'] {
	cursor: pointer; -webkit-appearance: button;
}
button[disabled] {
	cursor: default;
}
input[disabled] {
	cursor: default;
}
input[type='checkbox'] {
	padding: 0px; box-sizing: border-box;
}
input[type='radio'] {
	padding: 0px; box-sizing: border-box;
}
input[type='search'] {
	box-sizing: content-box; -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
textarea {
	overflow: auto; vertical-align: top;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
.clearfix {
	display: block;
}
.clearfix::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: ".";
}
.inline-block {
	display: inline-block;
}
.ellipsis {
	overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis; -webkit-text-overflow: ellipsis; -o-text-overflow: ellipsis;
}
.font-default {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "Hiragino Kaku Gothic Pro", "ƒƒCƒŠƒI", Meiryo, "‚l‚r ‚oƒSƒVƒbƒN", "MS PGothic", sans-serif;
}
.border-box {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box;
}
.center {
	text-align: center; margin-right: auto; margin-left: auto;
}
.left {
	float: left;
}
.right {
	float: right;
}
.nofloat {
	float: none;
}
.clear {
	clear: both;
}
.block {
	display: block;
}
.inline {
	display: inline;
}
.nodisplay {
	display: none;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.static {
	position: static;
}
.fixed {
	position: fixed;
}
.margin0 {
	margin: 0px !important;
}
.padding0 {
	padding: 0px !important;
}
.bold {
	font-weight: bold;
}
.normal {
	font-style: normal; font-weight: normal;
}
.thin {
	font-weight: 300;
}
.italic {
	font-style: italic;
}
.nodeco {
	text-decoration: none;
}
.underline {
	text-decoration: underline;
}
.nolist {
	list-style-type: none;
}
.disc {
	list-style-type: disc;
}
.circle {
	list-style-type: circle;
}
.textleft {
	text-align: left;
}
.textright {
	text-align: right;
}
.hide {
	display: none;
}
a:link {
	color: rgb(78, 172, 209); text-decoration: none;
}
a:visited {
	color: rgb(78, 172, 209); text-decoration: none;
}
a:hover:link {
	text-decoration: underline;
}
a:hover:visited {
	text-decoration: underline;
}
p {
	margin: 0px; padding: 0px; line-height: 1.7;
}
span.small {
	font-size: 70%;
}
span.smaller {
	font-size: 70%;
}
.nav-tabs {
	height: 35px; margin-bottom: 30px; border-bottom-color: rgb(194, 205, 209); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.ui-tabs-nav {
	height: 35px; margin-bottom: 30px; border-bottom-color: rgb(194, 205, 209); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.nav-tabs::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: ".";
}
.ui-tabs-nav::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: ".";
}
.nav-tabs > li {
	list-style: none; float: left;
}
.ui-tabs-nav > li {
	list-style: none; float: left;
}
.nav-tabs > li a {
	padding: 0px 1em; color: rgb(154, 165, 171); line-height: 35px; font-weight: bold; display: inline-block;
}
.ui-tabs-nav > li a {
	padding: 0px 1em; color: rgb(154, 165, 171); line-height: 35px; font-weight: bold; display: inline-block;
}
.nav-tabs > li a:hover {
	color: rgb(78, 172, 209); text-decoration: none;
}
.ui-tabs-nav > li a:hover {
	color: rgb(78, 172, 209); text-decoration: none;
}
.nav-tabs > li a:focus {
	
}
.ui-tabs-nav > li a:focus {
	
}
.nav-tabs > li.current-tab > a {
	color: rgb(78, 172, 209); font-weight: bold; box-shadow: inset 0px -3px 0px 0px #4eacd1;
}
.ui-tabs-nav > li.current-tab > a {
	color: rgb(78, 172, 209); font-weight: bold; box-shadow: inset 0px -3px 0px 0px #4eacd1;
}
.nav-tabs > li.ui-tabs-active > a {
	color: rgb(78, 172, 209); font-weight: bold; box-shadow: inset 0px -3px 0px 0px #4eacd1;
}
.ui-tabs-nav > li.ui-tabs-active > a {
	color: rgb(78, 172, 209); font-weight: bold; box-shadow: inset 0px -3px 0px 0px #4eacd1;
}
.navbar {
	height: 35px; margin-bottom: 30px; border-bottom-color: rgb(223, 229, 231); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.navbar::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: ".";
}
.navbar li {
	list-style: none; font-size: 14px; float: left;
}
.navbar li.active a {
	box-shadow: inset 0px -3px 0px -1px #4eacd1;
}
.navbar li.ui-tabs-active a {
	box-shadow: inset 0px -3px 0px -1px #4eacd1;
}
.navbar a {
	padding: 0px 15px; color: rgb(61, 63, 68); line-height: 35px; display: inline-block;
}
.navbar a:hover {
	color: rgb(78, 172, 209); text-decoration: none;
}
.navbar a.none {
	pointer-events: none;
}
.navbar li.navbar-right {
	float: right;
}
.navbar .navbtn-register a {
	background: rgb(90, 186, 144);
}
.navbar .navbtn-register a:hover {
	background: rgb(69, 166, 124);
}
.breadcrumb {
	list-style: none; margin: 0px 0px 20px; padding: 8px 15px; border-radius: 4px; border: 1px solid rgb(223, 229, 231); border-image: none; color: rgb(154, 165, 171); font-size: 13px; background-clip: padding-box; -webkit-border-top-right-radius: 4px; -webkit-border-bottom-right-radius: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0; -moz-border-radius-topright: 4px; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; -moz-border-radius-topleft: 0; -webkit-border-radius: 4px; -moz-border-radius: 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box;
}
.breadcrumb > li {
	display: inline-block; text-shadow: 0px 1px 0px #ffffff;
}
.breadcrumb > li > .divider {
	padding: 0px 5px; color: rgb(204, 204, 204);
}
form table {
	width: 100%; color: rgb(61, 63, 68); line-height: 1.5; margin-bottom: 10px; border-collapse: collapse;
}
.table {
	width: 100%; color: rgb(61, 63, 68); line-height: 1.5; margin-bottom: 10px; border-collapse: collapse;
}
form table th {
	padding: 10px;
}
.table th {
	padding: 10px;
}
form table td {
	padding: 10px;
}
.table td {
	padding: 10px;
}
form table th {
	border-width: 1px 0px; border-style: solid; border-color: rgb(223, 229, 231);
}
.table th {
	border-width: 1px 0px; border-style: solid; border-color: rgb(223, 229, 231);
}
form table td {
	border-width: 1px 0px; border-style: solid; border-color: rgb(223, 229, 231);
}
.table td {
	border-width: 1px 0px; border-style: solid; border-color: rgb(223, 229, 231);
}
form table th {
	text-align: left; vertical-align: middle;
}
.table th {
	text-align: left; vertical-align: middle;
}
form table td.submit {
	border-color: transparent !important; padding: 8px 0px !important;
}
.table td.submit {
	border-color: transparent !important; padding: 8px 0px !important;
}
form table td p {
	margin: 5px 0px; color: rgb(154, 165, 171); line-height: 18px; font-size: 12px;
}
.table td p {
	margin: 5px 0px; color: rgb(154, 165, 171); line-height: 18px; font-size: 12px;
}
form table th p {
	margin: 5px 0px; color: rgb(154, 165, 171); line-height: 18px; font-size: 12px;
}
.table th p {
	margin: 5px 0px; color: rgb(154, 165, 171); line-height: 18px; font-size: 12px;
}
form table .admin-table-p {
	margin: 5px 0px;
}
.table .admin-table-p {
	margin: 5px 0px;
}
form table td.bold {
	width: 20%;
}
.table td.bold {
	width: 20%;
}
form table tr.border-top-none {
	border-top-color: currentColor !important; border-top-width: medium !important; border-top-style: none !important;
}
.table tr.border-top-none {
	border-top-color: currentColor !important; border-top-width: medium !important; border-top-style: none !important;
}
form table th.border-top-none {
	border-top-color: currentColor !important; border-top-width: medium !important; border-top-style: none !important;
}
.table th.border-top-none {
	border-top-color: currentColor !important; border-top-width: medium !important; border-top-style: none !important;
}
form table td.border-top-none {
	border-top-color: currentColor !important; border-top-width: medium !important; border-top-style: none !important;
}
.table td.border-top-none {
	border-top-color: currentColor !important; border-top-width: medium !important; border-top-style: none !important;
}
form table h3 {
	line-height: 1.3; font-size: 110%; font-weight: bold; margin-bottom: 1em;
}
.table h3 {
	line-height: 1.3; font-size: 110%; font-weight: bold; margin-bottom: 1em;
}
form table img {
	vertical-align: middle;
}
.table img {
	vertical-align: middle;
}
form table ul {
	margin: 0px; padding-left: 0px;
}
.table ul {
	margin: 0px; padding-left: 0px;
}
form table ul ul {
	margin: 0px;
}
.table ul ul {
	margin: 0px;
}
form table td.profile-image img {
	vertical-align: baseline;
}
.table td.profile-image img {
	vertical-align: baseline;
}
form table ul.radioform li {
	margin: 10px 0px;
}
.table ul.radioform li {
	margin: 10px 0px;
}
form table ul.radioform li:first-child {
	margin-top: 0px;
}
.table ul.radioform li:first-child {
	margin-top: 0px;
}
form table ul.radioform li:last-child {
	margin-bottom: 0px;
}
.table ul.radioform li:last-child {
	margin-bottom: 0px;
}
form table span.radio {
	font-size: 14px; font-weight: bold; margin-right: 10px; margin-left: 2px;
}
.table span.radio {
	font-size: 14px; font-weight: bold; margin-right: 10px; margin-left: 2px;
}
form table label.radio {
	font-size: 14px; font-weight: bold; margin-right: 10px; margin-left: 2px;
}
.table label.radio {
	font-size: 14px; font-weight: bold; margin-right: 10px; margin-left: 2px;
}
form table .draft {
	color: rgb(255, 126, 69); font-size: 80%; font-style: italic;
}
.table .draft {
	color: rgb(255, 126, 69); font-size: 80%; font-style: italic;
}
form table.middle th {
	vertical-align: middle;
}
.middle.table th {
	vertical-align: middle;
}
form table.middle td {
	vertical-align: middle;
}
.middle.table td {
	vertical-align: middle;
}
form table tr.disabled th {
	opacity: 0.5; -moz-opacity: 0.5; -khtml-opacity: 0.5; -webkit-opacity: 0.5;
}
.table tr.disabled th {
	opacity: 0.5; -moz-opacity: 0.5; -khtml-opacity: 0.5; -webkit-opacity: 0.5;
}
form table tr.disabled td {
	opacity: 0.5; -moz-opacity: 0.5; -khtml-opacity: 0.5; -webkit-opacity: 0.5;
}
.table tr.disabled td {
	opacity: 0.5; -moz-opacity: 0.5; -khtml-opacity: 0.5; -webkit-opacity: 0.5;
}
.table tr:nth-child(2n) td {
	background-color: rgb(247, 248, 249);
}
.table tr:nth-child(2n) th {
	background-color: rgb(247, 248, 249);
}
.nozebra.table tr:nth-child(2n) td {
	background-color: transparent;
}
.nozebra.table tr:nth-child(2n) th {
	background-color: transparent;
}
table.table-2column {
	width: 49%;
}
table.table-2column th {
	width: 150px;
}
ol.list {
	color: rgb(61, 63, 68); margin-bottom: 10px;
}
ul.list {
	color: rgb(61, 63, 68); margin-bottom: 10px;
}
ol.list li {
	list-style: none; padding: 8px 0px; border-bottom-color: rgb(223, 229, 231); border-bottom-width: 1px; border-bottom-style: solid;
}
ul.list li {
	list-style: none; padding: 8px 0px; border-bottom-color: rgb(223, 229, 231); border-bottom-width: 1px; border-bottom-style: solid;
}
ol.list li:first-child {
	padding-top: 0px;
}
ul.list li:first-child {
	padding-top: 0px;
}
ol.list li:last-child {
	padding-bottom: 0px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
ul.list li:last-child {
	padding-bottom: 0px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
ol.list .time {
	color: rgb(154, 165, 171); font-size: 11px;
}
ul.list .time {
	color: rgb(154, 165, 171); font-size: 11px;
}
ol.striped.list li {
	padding-top: 8px; padding-bottom: 8px;
}
ul.striped.list li {
	padding-top: 8px; padding-bottom: 8px;
}
ol.striped.list li:nth-child(2n) {
	background-color: rgb(247, 248, 249);
}
ul.striped.list li:nth-child(2n) {
	background-color: rgb(247, 248, 249);
}
ol.striped.list li:first-child {
	padding-top: 8px;
}
ul.striped.list li:first-child {
	padding-top: 8px;
}
ol.striped.list li:last-child {
	border-bottom-color: rgb(223, 229, 231); border-bottom-width: 1px; border-bottom-style: solid;
}
ul.striped.list li:last-child {
	border-bottom-color: rgb(223, 229, 231); border-bottom-width: 1px; border-bottom-style: solid;
}
.entry-list li {
	list-style: none; padding: 8px 0px 8px 24px; line-height: 1.6; font-size: 12px; font-weight: normal; border-bottom-color: rgb(223, 229, 231); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.entry-list li:first-child {
	padding-top: 0px;
}
.entry-list li:first-child .blog-icon {
	top: 0px;
}
.entry-list li .blog-icon {
	left: 0px; top: 8px; position: absolute;
}
.entry-list li .blog-icon img {
	margin-right: 5px; vertical-align: middle;
}
.entry-list li .meta {
	color: rgb(154, 165, 171); font-size: 11px; display: block;
}
.entry-list li .meta a {
	color: rgb(154, 165, 171);
}
.entry-list li .username:hover {
	text-decoration: underline;
}
.entry-list li a {
	color: rgb(78, 172, 209); text-decoration: none;
}
label.disabled {
	opacity: 0.4; -moz-opacity: 0.4; -khtml-opacity: 0.4; -webkit-opacity: 0.4;
}
input[disabled] + label {
	opacity: 0.4; -moz-opacity: 0.4; -khtml-opacity: 0.4; -webkit-opacity: 0.4;
}
input[type='text'] {
	margin: 0px; padding: 8px; border-radius: 2px; border: 1px solid rgb(194, 205, 209); border-image: none; font-size: 120%; box-sizing: border-box; background-clip: padding-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-border-top-right-radius: 2px; -webkit-border-bottom-right-radius: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0; -moz-border-radius-topright: 2px; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; -moz-border-radius-topleft: 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; -moz-background-clip: padding; -webkit-background-clip: padding-box;
}
input[type='url'] {
	margin: 0px; padding: 8px; border-radius: 2px; border: 1px solid rgb(194, 205, 209); border-image: none; font-size: 120%; box-sizing: border-box; background-clip: padding-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-border-top-right-radius: 2px; -webkit-border-bottom-right-radius: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0; -moz-border-radius-topright: 2px; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; -moz-border-radius-topleft: 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; -moz-background-clip: padding; -webkit-background-clip: padding-box;
}
input[type=password] {
	margin: 0px; padding: 8px; border-radius: 2px; border: 1px solid rgb(194, 205, 209); border-image: none; font-size: 120%; box-sizing: border-box; background-clip: padding-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-border-top-right-radius: 2px; -webkit-border-bottom-right-radius: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0; -moz-border-radius-topright: 2px; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; -moz-border-radius-topleft: 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; -moz-background-clip: padding; -webkit-background-clip: padding-box;
}
input[type=email] {
	margin: 0px; padding: 8px; border-radius: 2px; border: 1px solid rgb(194, 205, 209); border-image: none; font-size: 120%; box-sizing: border-box; background-clip: padding-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-border-top-right-radius: 2px; -webkit-border-bottom-right-radius: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0; -moz-border-radius-topright: 2px; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; -moz-border-radius-topleft: 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; -moz-background-clip: padding; -webkit-background-clip: padding-box;
}
input[type=number] {
	margin: 0px; padding: 8px; border-radius: 2px; border: 1px solid rgb(194, 205, 209); border-image: none; font-size: 120%; box-sizing: border-box; background-clip: padding-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-border-top-right-radius: 2px; -webkit-border-bottom-right-radius: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0; -moz-border-radius-topright: 2px; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; -moz-border-radius-topleft: 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; -moz-background-clip: padding; -webkit-background-clip: padding-box;
}
input[type=search] {
	margin: 0px; padding: 8px; border-radius: 2px; border: 1px solid rgb(194, 205, 209); border-image: none; font-size: 120%; box-sizing: border-box; background-clip: padding-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-border-top-right-radius: 2px; -webkit-border-bottom-right-radius: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0; -moz-border-radius-topright: 2px; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; -moz-border-radius-topleft: 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; -moz-background-clip: padding; -webkit-background-clip: padding-box;
}
input[type=tel] {
	margin: 0px; padding: 8px; border-radius: 2px; border: 1px solid rgb(194, 205, 209); border-image: none; font-size: 120%; box-sizing: border-box; background-clip: padding-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-border-top-right-radius: 2px; -webkit-border-bottom-right-radius: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0; -moz-border-radius-topright: 2px; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; -moz-border-radius-topleft: 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; -moz-background-clip: padding; -webkit-background-clip: padding-box;
}
textarea {
	margin: 0px; padding: 8px; border-radius: 2px; border: 1px solid rgb(194, 205, 209); border-image: none; font-size: 120%; box-sizing: border-box; background-clip: padding-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-border-top-right-radius: 2px; -webkit-border-bottom-right-radius: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0; -moz-border-radius-topright: 2px; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; -moz-border-radius-topleft: 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; -moz-background-clip: padding; -webkit-background-clip: padding-box;
}
input[type='text'].disabled:hover {
	cursor: default;
}
input[type='url'].disabled:hover {
	cursor: default;
}
input[type=password].disabled:hover {
	cursor: default;
}
input[type=email].disabled:hover {
	cursor: default;
}
input[type=number].disabled:hover {
	cursor: default;
}
input[type=search].disabled:hover {
	cursor: default;
}
input[type=tel].disabled:hover {
	cursor: default;
}
textarea.disabled:hover {
	cursor: default;
}
input[type='text']:focus {
	border-color: rgb(78, 172, 209);
}
input[type='url']:focus {
	border-color: rgb(78, 172, 209);
}
input[type=password]:focus {
	border-color: rgb(78, 172, 209);
}
input[type=email]:focus {
	border-color: rgb(78, 172, 209);
}
input[type=number]:focus {
	border-color: rgb(78, 172, 209);
}
input[type=search]:focus {
	border-color: rgb(78, 172, 209);
}
input[type=tel]:focus {
	border-color: rgb(78, 172, 209);
}
textarea:focus {
	border-color: rgb(78, 172, 209);
}
input[type='text'].full-width {
	width: 100%;
}
input[type='url'].full-width {
	width: 100%;
}
input[type=password].full-width {
	width: 100%;
}
input[type=email].full-width {
	width: 100%;
}
input[type=number].full-width {
	width: 100%;
}
input[type=search].full-width {
	width: 100%;
}
input[type=tel].full-width {
	width: 100%;
}
textarea.full-width {
	width: 100%;
}
@media all and (max-width:1024px)
{
input[type='text'] {
	width: 100%;
}
input[type='url'] {
	width: 100%;
}
input[type=password] {
	width: 100%;
}
input[type=email] {
	width: 100%;
}
input[type=number] {
	width: 100%;
}
input[type=search] {
	width: 100%;
}
input[type=tel] {
	width: 100%;
}
textarea {
	width: 100%;
}
}
input.small-text {
	padding: 1px 6px; width: 5em; font-size: 100%;
}
select {
	background: rgb(255, 255, 255); border-radius: 5px; border: 1px solid rgb(223, 229, 231); border-image: none; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
hr {
	border-color: rgb(223, 229, 231);
}
hr.soften {
	margin: 70px 0px; border: 0px currentColor; border-image: none; height: 1px; background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
.badge {
	background: padding-box rgb(154, 165, 171); padding: 2px 4px; border-radius: 3px; color: rgb(255, 255, 255); line-height: 1.4em; font-size: 11px; font-weight: normal; vertical-align: baseline; display: inline-block; white-space: nowrap; -webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; -moz-border-radius-topleft: 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; -moz-background-clip: padding; -webkit-background-clip: padding-box;
}
.badge a {
	color: inherit !important;
}
.badge-info {
	background-color: rgb(78, 172, 209);
}
.badge-official {
	background-color: rgb(78, 172, 209);
}
.label-important {
	background-color: rgb(185, 74, 72);
}
.badge-important {
	background-color: rgb(185, 74, 72);
}
[href].label-important {
	background-color: rgb(149, 59, 57);
}
[href].badge-important {
	background-color: rgb(149, 59, 57);
}
.label-warning {
	background-color: rgb(248, 148, 6);
}
.badge-warning {
	background-color: rgb(248, 148, 6);
}
[href].label-warning {
	background-color: rgb(198, 118, 5);
}
[href].badge-warning {
	background-color: rgb(198, 118, 5);
}
.label-success {
	background-color: rgb(70, 136, 71);
}
.badge-success {
	background-color: rgb(70, 136, 71);
}
[href].label-success {
	background-color: rgb(53, 102, 53);
}
[href].badge-success {
	background-color: rgb(53, 102, 53);
}
.label-inverse {
	background-color: rgb(51, 51, 51);
}
.badge-inverse {
	background-color: rgb(51, 51, 51);
}
[href].label-inverse {
	background-color: rgb(26, 26, 26);
}
[href].badge-inverse {
	background-color: rgb(26, 26, 26);
}
.register-btn-iframe {
	text-align: right;
}
.message-box {
	margin: 1em 0px; padding: 1em; color: rgb(61, 63, 68); line-height: 1.5; font-size: 12px; border-left-color: rgb(78, 172, 209); border-left-width: 5px; border-left-style: solid; background-color: rgb(245, 253, 253);
}
.message-box a {
	font-weight: normal;
}
.message-box h3 {
	font-size: 14px; font-weight: bold; margin-bottom: 0.5em;
}
.error-box {
	margin: 1em 0px; padding: 1em; color: rgb(61, 63, 68); line-height: 1.5; font-size: 12px; border-left-color: rgb(224, 113, 109); border-left-width: 5px; border-left-style: solid; background-color: rgb(253, 245, 245);
}
.error-box a {
	font-weight: normal;
}
.admin-message {
	background: -ms-linear-gradient(rgb(255, 255, 255), rgb(238, 238, 238)) padding-box; margin: 10px 10px 20px; padding: 15px; border-radius: 3px; border: 1px solid rgb(223, 229, 231); border-image: none; color: rgb(69, 69, 69); line-height: 1.5; font-size: 12px; -webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; -moz-border-radius-topleft: 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; -moz-background-clip: padding; -webkit-background-clip: padding-box;
}
.admin-message a {
	font-weight: normal;
}
.admin-message p {
	margin: 10px 0px 15px; color: rgb(69, 69, 69);
}
.admin-message .last-p {
	margin-bottom: 0px;
}
.admin-message h1 {
	padding-bottom: 5px; font-size: 18px; margin-bottom: 5px; border-bottom-color: rgb(223, 229, 231); border-bottom-width: 1px; border-bottom-style: solid;
}
.admin-message h2 {
	font-size: 18px; font-weight: normal;
}
.admin-message img.screenshot {
	border: 1px solid rgb(223, 229, 231); border-image: none; float: right; box-shadow: 0px 0px 10px rgba(0,0,0,0.1); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.admin-notice {
	background: rgb(247, 248, 249); padding: 15px 10px; border: 1px solid rgb(223, 229, 231); border-image: none; font-size: 12px; margin-top: 10px; margin-bottom: 10px;
}
.admin-notice h3 {
	font-size: 16px; margin-bottom: 1em;
}
.admin-notice h4 {
	font-size: 13px; margin-bottom: 1em;
}
.admin-notice ul {
	padding-left: 2em;
}
.admin-notice li {
	list-style: circle !important; line-height: 1.5; margin-bottom: 1em;
}
.admin-p {
	margin: 10px 0px;
}
.welcome-message {
	background: rgb(239, 243, 255); border: 1px solid rgb(198, 195, 255); border-image: none;
}
.welcome-message h1 {
	margin: 10px 0px; font-size: 24px; font-weight: normal;
}
.welcome-message p {
	margin: 0.8em 0px 1.5em;
}
.welcome-message h2 {
	font-size: 18px; font-weight: normal;
}
.welcome-message .last {
	margin-bottom: 0px;
}
.aside-notice {
	background: rgb(245, 245, 245); padding: 10px; border: 1px dashed rgb(204, 204, 204); border-image: none; font-size: 13px; margin-bottom: 10px;
}
.aside-notice p {
	margin-bottom: 0px !important;
}
.admin-p {
	margin: 10px 0px;
}
.alert {
	padding: 8px 35px 8px 14px; border-radius: 4px; border: 1px solid rgb(251, 238, 213); border-image: none; margin-bottom: 20px; background-color: rgb(252, 248, 227); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.alert .btn {
	margin-top: 0.3em; margin-bottom: 0.3em;
}
.alert {
	color: rgb(192, 152, 83);
}
.alert h4 {
	color: rgb(192, 152, 83);
}
.alert h4 {
	margin: 0px;
}
.alert .close {
	top: -2px; right: -21px; line-height: 20px; position: relative;
}
.alert-success {
	border-color: rgb(214, 233, 198); color: rgb(70, 136, 71); background-color: rgb(223, 240, 216);
}
.alert-success h4 {
	color: rgb(70, 136, 71);
}
.alert-danger {
	border-color: rgb(238, 211, 215); color: rgb(185, 74, 72); background-color: rgb(242, 222, 222);
}
.alert-error {
	border-color: rgb(238, 211, 215); color: rgb(185, 74, 72); background-color: rgb(242, 222, 222);
}
.alert-danger a {
	color: rgb(132, 53, 52); font-weight: bold;
}
.alert-error a {
	color: rgb(132, 53, 52); font-weight: bold;
}
.alert-danger h4 {
	color: rgb(185, 74, 72);
}
.alert-error h4 {
	color: rgb(185, 74, 72);
}
.alert-info {
	border-color: rgb(188, 232, 241); color: rgb(58, 135, 173); background-color: rgb(217, 237, 247);
}
.alert-info h4 {
	color: rgb(58, 135, 173);
}
#close {
	background: rgb(255, 255, 255); padding: 5px; top: 5px; width: 16px; height: 16px; right: 5px; position: absolute; z-index: 9999; cursor: pointer;
}
.btn {
	padding: 4px 10px; border-radius: 2px; border: 1px solid rgb(223, 229, 231); border-image: none; text-align: center; color: rgb(79, 80, 81) !important; line-height: 18px; font-size: 12px; font-weight: bold; text-decoration: none; margin-bottom: 0px; vertical-align: middle; display: inline-block; cursor: pointer; background-clip: padding-box; background-color: rgb(247, 248, 249); -webkit-appearance: none; -webkit-border-top-right-radius: 2px; -webkit-border-bottom-right-radius: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0; -moz-border-radius-topright: 2px; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; -moz-border-radius-topleft: 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; -moz-background-clip: padding; -webkit-background-clip: padding-box;
}
.btn:hover {
	border-color: rgb(200, 210, 214); text-decoration: none !important; background-color: rgb(238, 240, 242);
}
input.btn {
	margin-top: 0px;
}
.btn-blue {
	background: rgb(78, 172, 209); border: 1px solid transparent; border-image: none; color: rgb(255, 255, 255) !important;
}
.btn-primary {
	background: rgb(78, 172, 209); border: 1px solid transparent; border-image: none; color: rgb(255, 255, 255) !important;
}
.btn-blue:hover {
	background: rgb(51, 155, 195); border: 1px solid transparent; border-image: none;
}
.btn-primary:hover {
	background: rgb(51, 155, 195); border: 1px solid transparent; border-image: none;
}
.btn-danger {
	background: rgb(224, 113, 109); border: 1px solid transparent; border-image: none; color: rgb(255, 255, 255) !important;
}
.btn-danger:hover {
	background: rgb(217, 80, 75); border: 1px solid transparent; border-image: none;
}
.btn-register {
	background: rgb(90, 186, 144); border: 1px solid transparent; border-image: none; color: rgb(255, 255, 255) !important;
}
.btn-register:hover {
	background: rgb(69, 166, 124); border: 1px solid transparent; border-image: none;
}
.btn-pro {
	background: rgb(61, 63, 68); border: 1px solid transparent; border-image: none; color: rgb(255, 255, 255) !important;
}
.btn-pro:hover {
	background: rgb(49, 51, 55);
}
.btn-ghost-wh {
	background: none; border-width: 3px; border-color: rgb(255, 255, 255); color: rgb(255, 255, 255) !important;
}
.btn-ghost-wh:hover {
	background: none; border-color: rgb(200, 210, 214);
}
.btn-small {
	padding: 2px 10px !important; font-size: 11px !important;
}
.btn-large {
	padding: 13px 19px; line-height: normal; font-size: 17px; font-weight: bold;
}
[disabled='disabled'].btn {
	white-space: nowrap; cursor: default; opacity: 0.4; -moz-opacity: 0.4; -khtml-opacity: 0.4; -webkit-opacity: 0.4;
}
[disabled='disabled'].btn:hover {
	white-space: nowrap; cursor: default; opacity: 0.4; -moz-opacity: 0.4; -khtml-opacity: 0.4; -webkit-opacity: 0.4;
}
input[disabled='disabled']#submit {
	white-space: nowrap; cursor: default; opacity: 0.4; -moz-opacity: 0.4; -khtml-opacity: 0.4; -webkit-opacity: 0.4;
}
input[disabled='disabled']#submit:hover {
	white-space: nowrap; cursor: default; opacity: 0.4; -moz-opacity: 0.4; -khtml-opacity: 0.4; -webkit-opacity: 0.4;
}
.disabled.btn {
	white-space: nowrap; cursor: default; opacity: 0.4; -moz-opacity: 0.4; -khtml-opacity: 0.4; -webkit-opacity: 0.4;
}
.disabled.btn:hover {
	white-space: nowrap; cursor: default; opacity: 0.4; -moz-opacity: 0.4; -khtml-opacity: 0.4; -webkit-opacity: 0.4;
}
.btn-group .btn {
	border-radius: 0px; margin-left: -1px; float: left; position: relative; -webkit-border-radius: 0; -moz-border-radius: 0;
}
.btn-group :first-child.btn {
	margin-left: 0px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; -webkit-border-bottom-left-radius: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -moz-border-radius-topleft: 4px;
}
.btn-group :last-child.btn {
	border-top-right-radius: 4px; border-bottom-right-radius: 4px; -webkit-border-top-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-topright: 4px; -moz-border-radius-bottomright: 4px;
}
.btn-group .dropdown-toggle {
	border-top-right-radius: 4px; border-bottom-right-radius: 4px; -webkit-border-top-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-topright: 4px; -moz-border-radius-bottomright: 4px;
}
.btn-group :first-child.large.btn {
	margin-left: 0px; border-top-left-radius: 6px; border-bottom-left-radius: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-top-left-radius: 6px; -moz-border-radius-bottomleft: 6px; -moz-border-radius-topleft: 6px;
}
.btn-group :last-child.large.btn {
	border-top-right-radius: 6px; border-bottom-right-radius: 6px; -webkit-border-top-right-radius: 6px; -webkit-border-bottom-right-radius: 6px; -moz-border-radius-topright: 6px; -moz-border-radius-bottomright: 6px;
}
.btn-group .dropdown-toggle.large {
	border-top-right-radius: 6px; border-bottom-right-radius: 6px; -webkit-border-top-right-radius: 6px; -webkit-border-bottom-right-radius: 6px; -moz-border-radius-topright: 6px; -moz-border-radius-bottomright: 6px;
}
.btn-group .btn:hover {
	z-index: 2;
}
.btn-group .btn:focus {
	z-index: 2;
}
.btn-group .btn:active {
	z-index: 2;
}
.btn-group .active.btn {
	z-index: 2;
}
.btn-group .dropdown-toggle:active {
	outline: 0px;
}
.open.btn-group .dropdown-toggle {
	outline: 0px;
}
.dropdown-toggle {
	background: url("/images/header/dropdown-gray.gif?version=bc5ba514f969d60f29633617191c0f65d847138d") no-repeat right rgb(247, 248, 249); padding-right: 16px; display: block; cursor: pointer;
}
button.btn {
	margin-top: 0px;
}
.btn-tw.btn {
	border-color: rgb(85, 172, 238); color: rgb(255, 255, 255) !important; background-color: rgb(85, 172, 238);
}
.btn-tw.btn i {
	color: rgb(255, 255, 255) !important;
}
.btn-tw.btn:hover {
	border-color: rgb(48, 154, 234); background-color: rgb(48, 154, 234);
}
.btn-fb.btn {
	border-color: rgb(59, 89, 152); color: rgb(255, 255, 255) !important; background-color: rgb(59, 89, 152);
}
.btn-fb.btn i {
	color: rgb(255, 255, 255) !important;
}
.btn-fb.btn:hover {
	border-color: rgb(48, 72, 123); background-color: rgb(48, 72, 123);
}
.btn-mixi.btn {
	border-color: rgb(209, 173, 89); color: rgb(255, 255, 255) !important; background-color: rgb(209, 173, 89);
}
.btn-mixi.btn i {
	color: rgb(255, 255, 255) !important;
}
.btn-mixi.btn:hover {
	border-color: rgb(200, 157, 57); background-color: rgb(200, 157, 57);
}
.btn-haiku.btn {
	border-color: rgb(185, 102, 100); color: rgb(255, 255, 255) !important; background-color: rgb(185, 102, 100);
}
.btn-haiku.btn i {
	color: rgb(255, 255, 255) !important;
}
.btn-haiku.btn:hover {
	border-color: rgb(168, 78, 76); background-color: rgb(168, 78, 76);
}
.btn-table {
	width: 100%; display: table; table-layout: fixed;
}
.btn-table .btn-table-cell {
	padding: 0.1em; display: table-cell;
}
.btn-table :first-child.btn-table-cell {
	padding-left: 0px;
}
.btn-table :last-child.btn-table-cell {
	padding-right: 0px;
}
.btn-table .btn-table-cell-ellipsis {
	width: 4em;
}
.btn-table .btn {
	padding: 0.8em 0px; width: 100%; font-size: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box;
}
[class*='blogicon-'] {
	font-family: "blogicon"; font-style: normal; font-weight: normal; display: inline-block; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
[class*='blogicon-'].lg {
	line-height: 0.75em; font-size: 1.33em; vertical-align: -10%;
}
.blogicon-hatenablog::before {
	content: "\f000";
}
.blogicon-plus::before {
	content: "\f001";
}
.blogicon-minus::before {
	content: "\f002";
}
.blogicon-reorder::before {
	content: "\f003";
}
.blogicon-grid::before {
	content: "\f004";
}
.blogicon-chevron-left::before {
	content: "\f005";
}
.blogicon-chevron-right::before {
	content: "\f006";
}
.blogicon-chevron-up::before {
	content: "\f007";
}
.blogicon-chevron-down::before {
	content: "\f008";
}
.blogicon-external::before {
	content: "\f009";
}
.blogicon-plugin::before {
	content: "\f00a";
}
.blogicon-member::before {
	content: "\f00b";
}
.blogicon-account::before {
	content: "\f00c";
}
.blogicon-design::before {
	content: "\f00d";
}
.blogicon-cog::before {
	content: "\f00e";
}
.blogicon-edit::before {
	content: "\f010";
}
.blogicon-addstar::before {
	content: "\f011";
}
.blogicon-subscribe::before {
	content: "\f012";
}
.blogicon-entry::before {
	content: "\f013";
}
.blogicon-notify::before {
	content: "\f014";
}
.blogicon-private::before {
	content: "\f015";
}
.blogicon-user::before {
	content: "\f016";
}
.blogicon-home::before {
	content: "\f017";
}
.blogicon-setting::before {
	content: "\f018";
}
.blogicon-draft::before {
	content: "\f019";
}
.blogicon-search::before {
	content: "\f01a";
}
.blogicon-analytics::before {
	content: "\f01b";
}
.blogicon-help::before {
	content: "\f01c";
}
.blogicon-comment::before {
	content: "\f01d";
}
.blogicon-import::before {
	content: "\f01e";
}
.blogicon-truck::before {
	content: "\f020";
}
.blogicon-group::before {
	content: "\f021";
}
.blogicon-folder::before {
	content: "\f022";
}
.blogicon-add::before {
	content: "\f023";
}
.blogicon-pen::before {
	content: "\f024";
}
.blogicon-close::before {
	content: "\f025";
}
.blogicon-trash::before {
	content: "\f026";
}
.blogicon-bookmark::before {
	content: "\f027";
}
.blogicon-redirect::before {
	content: "\f028";
}
.blogicon-check::before {
	color: rgb(195, 193, 253); content: "\f029";
}
.blogicon-crop::before {
	content: "\f02a";
}
.blogicon-repeat::before {
	content: "\f02b";
}
.blogicon-logout::before {
	content: "\f02c";
}
.blogicon-star::before {
	content: "\f02d";
}
.blogicon-star-o::before {
	content: "\f720";
}
.blogicon-pro::before {
	content: "\f02e";
}
.blogicon-myblog::before {
	content: "\f030";
}
.blogicon-recent::before {
	content: "\f031";
}
.blogicon-info::before {
	content: "\f032";
}
.blogicon-good::before {
	content: "\f033";
}
.blogicon-amazon::before {
	content: "\f034";
}
.blogicon-twitter::before {
	content: "\f035";
}
.blogicon-facebook::before {
	content: "\f036";
}
.blogicon-share::before {
	content: "\f037";
}
.blogicon-code::before {
	content: "\f038";
}
.blogicon-list::before {
	content: "\f039";
}
.blogicon-calender::before {
	content: "\f03a";
}
.blogicon-bracket::before {
	content: "\f03b";
}
.blogicon-photo::before {
	content: "\f03c";
}
.blogicon-color::before {
	content: "\f03d";
}
.blogicon-public::before {
	content: "\f03e";
}
.blogicon-realtime-preview::before {
	content: "\f040";
}
.blogicon-warning::before {
	content: "\f041";
}
.blogicon-link::before {
	content: "\f042";
}
.blogicon-time::before {
	content: "\f043";
}
.blogicon-markdown::before {
	content: "\f044";
}
.blogicon-evernote::before {
	content: "\f045";
}
.blogicon-music::before {
	content: "\f046";
}
.blogicon-niconico::before {
	content: "\f047";
}
.blogicon-heart::before {
	content: "\f048";
}
.blogicon-heart-alt::before {
	content: "\f049";
}
.blogicon-tag::before {
	content: "\f04a";
}
.blogicon-mail::before {
	content: "\f04b";
}
.blogicon-help-alt::before {
	content: "\f04c";
}
.blogicon-sushi::before {
	content: "\f04d";
}
.blogicon-rss::before {
	content: "\f04e";
}
.blogicon-smartphone::before {
	content: "\f051";
}
.blogicon-laptop::before {
	content: "\f052";
}
.blogicon-mixi::before {
	content: "\f053";
}
.blogicon-haiku::before {
	content: "\f054";
}
.blogicon-quote::before {
	content: "\f704";
}
.blogicon-toggle-on::before {
	content: "\f71d";
}
.blogicon-toggle-off::before {
	content: "\f71e";
}
.blogicon-odaislot::before {
	content: "\f721";
}
[class*='blogicon-editor-'] {
	color: rgb(154, 165, 171);
}
.blogicon-editor-unorderedlist::before {
	content: "\f700";
}
.blogicon-editor-orderedlist::before {
	content: "\f701";
}
.blogicon-editor-link::before {
	content: "\f702";
}
.blogicon-editor-seemore::before {
	content: "\f703";
}
.blogicon-editor-blockquote::before {
	content: "\f704";
}
.blogicon-editor-footnote::before {
	content: "\f705";
}
.blogicon-editor-toolbar-show::before {
	content: "\f706";
}
.blogicon-editor-toolbar-hide::before {
	content: "\f707";
}
.blogicon-editor-bold::before {
	content: "\f708";
}
.blogicon-editor-italic::before {
	content: "\f709";
}
.blogicon-editor-strike::before {
	content: "\f70a";
}
.blogicon-editor-underline::before {
	content: "\f70b";
}
.blogicon-editor-fontsize::before {
	content: "\f70c";
}
.blogicon-editor-color::before {
	content: "\f70d";
}
.blogicon-fotolife::before {
	content: "\f711";
}
.blogicon-curation-bar-toggle::before {
	content: "\f713";
}
.blogicon-paint::before {
	content: "\f714";
}
.blogicon-gourmet::before {
	content: "\f715";
}
.blogicon-flickr::before {
	content: "\f716";
}
.blogicon-gist::before {
	content: "\f717";
}
.blogicon-pixiv::before {
	content: "\f718";
}
.blogicon-miil::before {
	content: "\f719";
}
.blogicon-youtube::before {
	content: "\f71a";
}
.blogicon-instagram::before {
	content: "\f71b";
}
.blogicon-google-picker::before {
	content: "\f71c";
}
.blogicon-others::before {
	content: "\f710";
}
body {
	-ms-word-wrap: break-word; -webkit-font-smoothing: antialiased;
}
.embed-wrapper {
	border-radius: 3px; border: 1px solid rgba(0, 0, 0, 0.1); border-image: none; font-size: 13px; box-sizing: border-box; background-clip: padding-box; background-color: rgb(255, 255, 255); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-border-top-right-radius: 3px; -webkit-border-bottom-right-radius: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0; -moz-border-radius-topright: 3px; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; -moz-border-radius-topleft: 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; -moz-background-clip: padding; -webkit-background-clip: padding-box;
}
.embed-wrapper * {
	-ms-word-wrap: break-word;
}
.embed-wrapper-inner {
	padding: 12px;
}
.embed-header {
	height: 30px; padding-left: 35px; margin-bottom: 5px; position: relative;
}
.embed-header .blog-icon {
	border-radius: 30px; left: 0px; top: 0px; width: 30px; height: 30px; position: absolute; background-clip: padding-box; -webkit-border-top-right-radius: 30px; -webkit-border-bottom-right-radius: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0; -moz-border-radius-topright: 30px; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; -moz-border-radius-topleft: 0; -webkit-border-radius: 30px; -moz-border-radius: 30px; -moz-background-clip: padding; -webkit-background-clip: padding-box;
}
.embed-header .blog-title {
	margin: 0px 110px 2px 0px; color: rgb(78, 172, 209); line-height: 1.2em; overflow: hidden; font-size: 12px; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.embed-header .blog-user {
	line-height: 1.2; overflow: hidden; margin-right: 110px; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.embed-header .blog-user a {
	color: rgb(154, 165, 171);
}
.embed-content {
	height: 100px; overflow: hidden; position: relative;
}
.embed-content .entry-title {
	margin: 0px 0px 2px; line-height: 1.4; overflow: hidden; font-size: 17px; max-height: 47px; -webkit-box-orient: vertical; -webkit-line-clamp: 2;
}
.embed-content .entry-title a {
	color: rgb(61, 63, 68);
}
.embed-content .entry-content {
	line-height: 1.5; overflow: hidden; font-size: 12px; max-height: 72px; -webkit-box-orient: vertical; -webkit-line-clamp: 3;
}
.embed-content .thumb-wrapper {
	top: 0px; right: 0px; position: absolute;
}
.embed-content .thumb-wrapper .thumb {
	width: 100px; height: 100px;
}
.with-thumb.embed-content {
	min-height: 100px;
}
.with-thumb.embed-content .entry-body {
	margin-right: 110px;
}
.entry-meta {
	margin-top: 2px;
}
.entry-meta a {
	color: rgb(154, 165, 171);
}
.embed-footer {
	height: 15px; font-size: 11px; margin-top: 8px; position: relative;
}
.embed-footer .updated {
	margin-right: 0.3em;
}
.embed-footer .favicon {
	width: 16px; height: 16px;
}
.embed-footer img {
	vertical-align: middle;
}
.embed-footer .star-count {
	padding-bottom: 1px;
}
.embed-footer a {
	color: rgb(154, 165, 171);
}
.embed-logo {
	top: 0px; right: 0px; position: absolute;
}
.embed-logo .embed-logo-img {
	width: 100px; height: 18px; vertical-align: middle; opacity: 0.6;
}
@media all and (max-width:480px)
{
.embed-wrapper {
	width: 100%;
}
.embed-logo .embed-logo-img {
	width: 80px; height: auto;
}
.embed-header .blog-title {
	margin-right: 90px;
}
.embed-header .blog-user {
	margin-right: 90px;
}
.embed-content .entry-title {
	line-height: 1.4; font-size: 15px; margin-bottom: 5px; max-height: 40px;
}
.embed-content .entry-content {
	font-size: 11px; max-height: 50px;
}
.embed-content .thumb-wrapper .thumb {
	width: 80px; height: 80px;
}
.with-thumb.embed-content {
	min-height: 80px;
}
.with-thumb.embed-content .entry-body {
	margin-right: 90px;
}
}
