/*
LESS Variables
Description: for Hatena Blog Admin
Author: Hatena Blog Team
Version: 1.0
*/
/* Background color */
/* Light Gray Background color */
/* dark background color */
/* Base text color */
/* light text color */
/* 標準リンク色 */
/* リンクのhover */
/* グレーの標準ボタン色 */
/* 標準ボタンの文字色 */
/* 青い標準ボタン色  */
/* 青い標準ボタン色(hover)  */
/* Register系の緑色ボタン */
/* Register系の緑色ボタン（hover） */
/*
LESS Mixins
*/
/* box properties */
.clearfix {
  display: block;
  *zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: ".";
}
.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.ellipsis {
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* text properties */
.font-default {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
/* CSS3 properties */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.nofloat {
  float: none;
}
.clear {
  clear: both;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.nodisplay {
  display: none;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.margin0 {
  margin: 0 !important;
}
.padding0 {
  padding: 0 !important;
}
.bold {
  font-weight: bold;
}
.normal {
  font-weight: normal;
  font-style: normal;
}
.thin {
  font-weight: 300;
}
.italic {
  font-style: italic;
}
.nodeco {
  text-decoration: none;
}
.underline {
  text-decoration: underline;
}
.nolist {
  list-style-type: none;
}
.disc {
  list-style-type: disc;
}
.circle {
  list-style-type: circle;
}
.textleft {
  text-align: left;
}
.textright {
  text-align: right;
}
/*
Common.LESS
Description: ユーザーのブログ、service、admin の全てで読みこまれるスタイル
Author: Hatena Blog Team
*/
/* 広告消すボタンからPROに誘導する */
.modal-window-background {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 100;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  filter: alpha(opacity=50);
}
a.open-pro-modal {
  visibility: hidden;
}
.pro-modal-container {
  position: fixed;
  width: 500px;
  height: 250px;
  z-index: 110;
  background-color: #ffffff;
}
.favicon {
  margin-right: .3em;
  vertical-align: text-top;
}
@font-face {
  font-family: 'blogicon';
  src: url('/fonts/public/blogicon/blogicon-regular.eot');
  src: url('/fonts/public/blogicon/blogicon-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/public/blogicon/blogicon-regular.woff') format('woff'), url('/fonts/public/blogicon/blogicon-regular.ttf') format('truetype'), url('/fonts/public/blogicon/blogicon-regular.svg#blogicon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*="blogicon-"] {
  display: inline-block;
  font-family: 'blogicon';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*="blogicon-"].lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -10%;
}
.blogicon-hatenablog:before {
  content: '\f000';
}
.blogicon-plus:before {
  content: '\f001';
}
.blogicon-minus:before {
  content: '\f002';
}
.blogicon-reorder:before {
  content: '\f003';
}
.blogicon-grid:before {
  content: '\f004';
}
.blogicon-chevron-left:before {
  content: '\f005';
}
.blogicon-chevron-right:before {
  content: '\f006';
}
.blogicon-chevron-up:before {
  content: '\f007';
}
.blogicon-chevron-down:before {
  content: '\f008';
}
.blogicon-external:before {
  content: '\f009';
}
.blogicon-plugin:before {
  content: '\f00a';
}
.blogicon-member:before {
  content: '\f00b';
}
.blogicon-account:before {
  content: '\f00c';
}
.blogicon-design:before {
  content: '\f00d';
}
.blogicon-cog:before {
  content: '\f00e';
}
.blogicon-edit:before {
  content: '\f010';
}
.blogicon-addstar:before {
  content: '\f011';
}
.blogicon-subscribe:before {
  content: '\f012';
}
.blogicon-entry:before {
  content: '\f013';
}
.blogicon-notify:before {
  content: '\f014';
}
.blogicon-private:before {
  content: '\f015';
}
.blogicon-user:before {
  content: '\f016';
}
.blogicon-home:before {
  content: '\f017';
}
.blogicon-setting:before {
  content: '\f018';
}
.blogicon-draft:before {
  content: '\f019';
}
.blogicon-search:before {
  content: '\f01a';
}
.blogicon-analytics:before {
  content: '\f01b';
}
.blogicon-help:before {
  content: '\f01c';
}
.blogicon-comment:before {
  content: '\f01d';
}
.blogicon-import:before {
  content: '\f01e';
}
.blogicon-truck:before {
  content: '\f020';
}
.blogicon-group:before {
  content: '\f021';
}
.blogicon-folder:before {
  content: '\f022';
}
.blogicon-add:before {
  content: '\f023';
}
.blogicon-pen:before {
  content: '\f024';
}
.blogicon-close:before {
  content: '\f025';
}
.blogicon-trash:before {
  content: '\f026';
}
.blogicon-bookmark:before {
  content: '\f027';
}
.blogicon-redirect:before {
  content: '\f028';
}
.blogicon-check:before {
  content: '\f029';
  color: #c3c1fd;
}
.blogicon-crop:before {
  content: '\f02a';
}
.blogicon-repeat:before {
  content: '\f02b';
}
.blogicon-logout:before {
  content: '\f02c';
}
.blogicon-star:before {
  content: '\f02d';
}
.blogicon-pro:before {
  content: '\f02e';
}
.blogicon-myblog:before {
  content: '\f030';
}
.blogicon-recent:before {
  content: '\f031';
}
.blogicon-info:before {
  content: '\f032';
}
.blogicon-good:before {
  content: '\f033';
}
.blogicon-amazon:before {
  content: '\f034';
}
.blogicon-twitter:before {
  content: '\f035';
}
.blogicon-facebook:before {
  content: '\f036';
}
.blogicon-share:before {
  content: '\f037';
}
.blogicon-code:before {
  content: '\f038';
}
.blogicon-list:before {
  content: '\f039';
}
.blogicon-calender:before {
  content: '\f03a';
}
.blogicon-bracket:before {
  content: '\f03b';
}
.blogicon-photo:before {
  content: '\f03c';
}
.blogicon-color:before {
  content: '\f03d';
}
.blogicon-public:before {
  content: '\f03e';
}
.blogicon-realtime-preview:before {
  content: '\f040';
}
.blogicon-warning:before {
  content: '\f041';
}
.blogicon-link:before {
  content: '\f042';
}
.blogicon-time:before {
  content: '\f043';
}
.blogicon-markdown:before {
  content: '\f044';
}
.blogicon-evernote:before {
  content: '\f045';
}
.blogicon-music:before {
  content: '\f046';
}
.blogicon-niconico:before {
  content: '\f047';
}
.blogicon-heart:before {
  content: '\f048';
}
.blogicon-heart-alt:before {
  content: '\f049';
}
.blogicon-tag:before {
  content: '\f04a';
}
.blogicon-mail:before {
  content: '\f04b';
}
.blogicon-help-alt:before {
  content: '\f04c';
}
.blogicon-sushi:before {
  content: '\f04d';
}
.blogicon-rss:before {
  content: '\f04e';
}
.blogicon-smartphone:before {
  content: '\f051';
}
.blogicon-laptop:before {
  content: '\f052';
}
.blogicon-mixi:before {
  content: '\f053';
}
.blogicon-haiku:before {
  content: '\f054';
}
.icon-allabout-guide {
  background-image: url(/images/sprite.png);
  width: 44px;
  height: 11px;
  background-position: 0px -210px;
}
.icon-curation-amazon-search-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: 0px -150px;
}
.icon-curation-amazon-search {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -150px -120px;
}
.icon-curation-archive-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: 0px -30px;
}
.icon-curation-archive {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -30px -30px;
}
.icon-curation-bar-close-hover {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -60px 0px;
}
.icon-curation-bar-close {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -60px -30px;
}
.icon-curation-bar-open-hover {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: 0px -60px;
}
.icon-curation-bar-open {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -30px -60px;
}
.icon-curation-beginner-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -60px -60px;
}
.icon-curation-beginner {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -90px 0px;
}
.icon-curation-bookmark-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -90px -30px;
}
.icon-curation-bookmark {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -90px -60px;
}
.icon-curation-category-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: 0px -90px;
}
.icon-curation-category {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -30px -90px;
}
.icon-curation-evernote-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -60px -90px;
}
.icon-curation-evernote {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -90px -90px;
}
.icon-curation-flickr-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -120px 0px;
}
.icon-curation-flickr {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -120px -30px;
}
.icon-curation-fotolife-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -120px -60px;
}
.icon-curation-fotolife {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -120px -90px;
}
.icon-curation-gist-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: 0px -120px;
}
.icon-curation-gist {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -30px -120px;
}
.icon-curation-gnavi-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -60px -120px;
}
.icon-curation-gnavi {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -90px -120px;
}
.icon-curation-google-picker-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -120px -120px;
}
.icon-curation-google-picker {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -150px 0px;
}
.icon-curation-gourmet-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -150px -30px;
}
.icon-curation-gourmet {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -150px -60px;
}
.icon-curation-hatena-bookmark-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -150px -90px;
}
.icon-curation-hatena-bookmark {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: 0px 0px;
}
.icon-curation-home-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -30px 0px;
}
.icon-curation-home {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -30px -150px;
}
.icon-curation-instagram-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -60px -150px;
}
.icon-curation-instagram {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -90px -150px;
}
.icon-curation-itunes-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -120px -150px;
}
.icon-curation-itunes {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -150px -150px;
}
.icon-curation-miil-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -180px 0px;
}
.icon-curation-miil {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -180px -30px;
}
.icon-curation-nicovideo-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -180px -60px;
}
.icon-curation-nicovideo {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -180px -90px;
}
.icon-curation-option-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -180px -120px;
}
.icon-curation-option {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -180px -150px;
}
.icon-curation-paint-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: 0px -180px;
}
.icon-curation-paint {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -30px -180px;
}
.icon-curation-pixiv-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -60px -180px;
}
.icon-curation-pixiv {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -90px -180px;
}
.icon-curation-twitter-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -120px -180px;
}
.icon-curation-twitter {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -150px -180px;
}
.icon-curation-youtube-selected {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -180px -180px;
}
.icon-curation-youtube {
  background-image: url(/images/sprite.png);
  width: 30px;
  height: 30px;
  background-position: -210px 0px;
}
.icon-customize-article {
  background-image: url(/images/sprite.png);
  width: 16px;
  height: 16px;
  background-position: -210px -30px;
}
.icon-customize-background-color {
  background-image: url(/images/sprite.png);
  width: 16px;
  height: 15px;
  background-position: -210px -94px;
}
.icon-customize-background-image {
  background-image: url(/images/sprite.png);
  width: 16px;
  height: 12px;
  background-position: -210px -124px;
}
.icon-customize-css {
  background-image: url(/images/sprite.png);
  width: 16px;
  height: 15px;
  background-position: -210px -109px;
}
.icon-customize-footer {
  background-image: url(/images/sprite.png);
  width: 16px;
  height: 16px;
  background-position: -210px -46px;
}
.icon-customize-header {
  background-image: url(/images/sprite.png);
  width: 16px;
  height: 16px;
  background-position: -210px -62px;
}
.icon-customize-sidebar {
  background-image: url(/images/sprite.png);
  width: 16px;
  height: 16px;
  background-position: -210px -78px;
}
.icon-customize-smartphone {
  background-image: url(/images/sprite.png);
  width: 10px;
  height: 16px;
  background-position: -226px -30px;
}
.icon-library {
  background-image: url(/images/sprite.png);
  width: 41px;
  height: 11px;
  background-position: -44px -210px;
}
.icon-npo {
  background-image: url(/images/sprite.png);
  width: 25px;
  height: 11px;
  background-position: -210px -136px;
}
.icon-pro {
  background-image: url(/images/sprite.png);
  width: 25px;
  height: 11px;
  background-position: -210px -147px;
}
.icon-sponsored {
  background-image: url(/images/sprite.png);
  width: 58px;
  height: 11px;
  background-position: -85px -210px;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  vertical-align: text-top;
  background-repeat: no-repeat;
  *margin-right: .3em;
  margin-right: 2px;
}
[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0;
}
[class^="icon-big-"],
[class*=" icon-big-"] {
  display: inline-block;
  vertical-align: text-top;
  background-repeat: no-repeat;
  *margin-right: .3em;
  padding-right: 0;
  margin-right: 3px;
}
.icon-pro,
.icon-npo,
.icon-sponsored,
.icon-library,
.icon-allabout {
  margin: 0 3px;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  [class^="icon-"],
  [class*=" icon-"] {
    background-image: url(/images/sprite@2x.png);
    background-size: 240px auto;
  }
}
#header,
#globalheader {
  position: relative;
  z-index: 99;
  width: 100%;
  border: none;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
#globalheader-container {
  height: 37px;
  width: 100%;
  z-index: 99;
}
.browsing-with-smartphone #globalheader-container {
  height: 44px;
}
.browsing-with-smartphone #globalheader-container iframe#globalheader {
  height: 44px;
}
.global-page #header a:link,
.global-page #header a:visited {
  color: #333 !important;
}
#header a:hover {
  text-decoration: underline;
}
.page-globalheader {
  margin: 0;
  padding: 0;
  height: 37px;
  overflow: hidden;
}
#header {
  width: 100%;
  background: transparent;
  /* service header-bg color */
}
#header #header-body {
  width: 100%;
  height: 37px;
  display: block;
  *zoom: 1;
  text-align: center;
  font-size: 75%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
}
#header #header-body:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: ".";
}
#header img {
  border: 0;
}
#header a {
  text-decoration: none;
}
#header a:hover {
  text-decoration: underline;
}
.globalheader-nav {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  *zoom: 1;
}
.globalheader-nav:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: ".";
}
.globalheader-nav > li {
  float: left;
  padding: 0 10px;
}
.globalheader-nav > li a {
  float: none;
  line-height: 37px;
  text-decoration: none;
}
.globalheader-nav > li span {
  float: none;
  line-height: 37px;
  cursor: pointer;
}
.globalheader-nav .service-logo {
  vertical-align: middle;
  height: 37px;
}
.globalheader-nav .service-logo-container svg {
  width: 141px;
  height: 37px;
}
.globalheader-nav .current-blog a {
  display: block;
  max-width: 180px;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.globalheader-nav .blog-private-badge {
  display: none;
  margin-right: .3em;
  float: left;
}
.globalheader-nav #subscribe span:hover {
  text-decoration: underline;
}
.globalheader-nav .subscribe .subscribe-count {
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.3);
  padding: 3px 5px;
  font-size: 10px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
}
.globalheader-nav [class*="blogicon-"] {
  vertical-align: middle;
  font-size: 14px;
  margin-right: .2em;
}
.service-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  display: block;
  *zoom: 1;
}
.service-menu:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: ".";
}
.service-menu li {
  float: left;
  padding: 0 8px;
  line-height: 37px;
  vertical-align: middle;
  list-style-type: none;
}
.service-menu li span {
  cursor: pointer;
}
.service-menu li img {
  vertical-align: middle;
  margin-top: -2px;
}
.service-menu .upgrade-pro a {
  color: #62d7f4 !important;
}
.service-menu .header-user-image {
  width: 20px;
  height: 20px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.service-menu .header-notify,
.service-menu .header-services,
.service-menu .header-unread {
  width: 36px;
  height: 37px;
}
.service-menu .global-notify {
  width: 25px;
  height: 25px;
}
.service-menu .global-logo {
  padding-left: 3px;
}
.service-menu .global-logo .global-hatena-logo {
  width: 76px;
  height: 12px;
}
.service-menu .global-logo .global-logo-svg-wrapper svg {
  width: 76px;
  height: 12px;
  vertical-align: middle;
}
#header .header-button {
  height: 37px;
  cursor: pointer;
  display: block;
}
#header .header-button.header-dropdown {
  padding-right: 12px;
}
#header .header-button img {
  vertical-align: middle;
}
#header .header-button .usermenu-svg-wrapper svg {
  width: 24px;
  height: 24px;
}
#header .header-button .notify-svg-wrapper svg {
  width: 25px;
  height: 25px;
}
#header .header-button .unread-svg-wrapper svg {
  width: 24px;
  height: 24px;
}
#header .header-button svg {
  vertical-align: middle;
}
.header-my .header-user-image {
  *padding-top: 11px !important;
}
.header-services img,
.header-notify img,
.header-unread img {
  *padding-top: 8px;
}
.global-logo img {
  *padding-top: 14px;
}
#header .header-notify,
#header .header-services,
#header .header-unread {
  margin-right: 2px;
  position: relative;
  padding: 0 3px !important;
}
#header .header-services span.header-dropdown {
  padding-right: 12px;
}
#header .header-notify span.header-dropdown,
#header .header-services span.header-dropdown,
#header .header-unread span.header-dropdown {
  padding-right: 9px;
  width: 25px;
}
#header .header-notify img,
#header .header-unread img {
  opacity: 1 !important;
}
#header .notify-count {
  font-weight: bold;
  color: #fff;
  background: url(/images/header/count-bg.png) top left no-repeat;
  background-size: 14px 14px;
  text-align: center;
  margin-right: 6px;
  position: absolute;
  top: 3px;
  right: 4px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  font-size: 80%;
  display: none;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  #header .notify-count {
    background-image: url(/images/header/count-bg@2x.png);
  }
}
#header .unread-count {
  margin-right: 0;
  background-color: #c40017;
  position: absolute;
  top: 10px;
  right: 11px;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  display: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.page-globalheader .btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  line-height: 18px;
  color: #4f5051;
  background-color: #f7f8f9;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dfe5e7;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  -webkit-appearance: none;
}
.page-globalheader .btn:hover {
  border-color: #ccc;
  background-color: #eef0f2;
  text-decoration: none !important;
}
.page-globalheader .btn-blue,
.page-globalheader .btn-primary {
  color: #fff !important;
  background: #4eacd1;
  border: 1px solid transparent;
}
.page-globalheader .btn-blue:hover,
.page-globalheader .btn-primary:hover {
  border-color: #339bc3;
  background: #339bc3;
  background: -webkit-gradient(linear, left top, left bottom, from(#4eacd1), to(#339bc3));
  background: -ms-linear-gradient(top, #4eacd1, #339bc3);
  background: -moz-linear-gradient(top, #4eacd1 0%, #339bc3 100%);
}
.page-globalheader .btn-register {
  color: #fff !important;
  background: #5aba90 !important;
  border: 1px solid transparent;
}
.page-globalheader .btn-register:hover {
  background: #45a67c;
  background: -webkit-gradient(linear, left top, left bottom, from(#5aba90), to(#45a67c));
  background: -ms-linear-gradient(top, #5aba90, #45a67c);
  background: -moz-linear-gradient(top, #5aba90 0%, #45a67c 100%);
  border-color: #45a67c;
}
.page-globalheader .btn-pro {
  color: #fff !important;
  background: #333;
  border: 1px solid transparent;
}
.page-globalheader .btn-pro:hover {
  background: #111111;
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111));
  background: -ms-linear-gradient(top, #333333, #111111);
  background: -moz-linear-gradient(top, #333333 0%, #111111 100%);
  border-color: #000;
}
.page-globalheader .btn-small {
  padding: 2px 10px !important;
  font-size: 11px !important;
}
.page-globalheader .btn-large {
  padding: 13px 19px;
  font-size: 17px;
  line-height: normal;
  font-weight: bold;
}
.page-globalheader .btn[disabled="disabled"],
.page-globalheader .btn[disabled="disabled"]:hover,
.page-globalheader input#submit[disabled="disabled"],
.page-globalheader input#submit[disabled="disabled"]:hover,
.page-globalheader form input[disabled="disabled"],
.page-globalheader form input[disabled="disabled"]:hover {
  -moz-opacity: 0.4;
  opacity: 0.4;
  -khtml-opacity: 0.4;
  -webkit-opacity: 0.4;
  cursor: default;
  white-space: nowrap;
}
.page-globalheader .btn.disabled,
.page-globalheader .btn.disabled:hover {
  -moz-opacity: 0.4;
  opacity: 0.4;
  -khtml-opacity: 0.4;
  -webkit-opacity: 0.4;
  cursor: default;
  white-space: nowrap;
}
#header .cookie-notify {
  margin: 10px 10px 20px 10px;
  padding: 2px 10px 2px 30px;
  background: #ddcccc url('/images/admin/error.png') no-repeat 5px center;
  background-size: contain;
  border: 1px solid #EFCFD1;
  font-size: 11px;
  color: #9b4d51;
}
#header .cookie-notify a {
  font-weight: normal;
}
#header .btn {
  line-height: 13px;
  position: relative;
  top: -1px;
}
@media screen and (max-width: 550px) {
  #current-blog {
    display: none !important;
  }
}
#header-body-mobile {
  display: block;
  height: 44px;
  margin-left: 8px;
  margin-right: 8px;
}
#header-body-mobile .service-logo {
  margin: 5px 0;
}
#header-body-mobile .service-logo-container svg {
  width: 130px;
  height: 34px;
  margin: 5px 0;
}
#header-body-mobile .houyhnhnm-logo {
  margin: 3px 0 2px;
  display: inline-block;
}
#header-body-mobile .globalheader-right {
  position: absolute;
  top: 0;
  right: 8px;
  margin: 6px 0;
  height: 32px;
}
#header-body-mobile .globalheader-right-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  *zoom: 1;
}
#header-body-mobile .globalheader-right-nav:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: ".";
}
#header-body-mobile .globalheader-right-nav li {
  float: left;
  margin-left: 5px;
}
#header-body-mobile .globalheader-right-nav i {
  vertical-align: middle;
}
#header-body-mobile .touch-header-btn {
  margin: 3px 0;
}
#header-body-mobile .touch-header-btn a {
  background: #fff;
}
#header-body-mobile .profile-image {
  width: 32px;
  height: 32px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#header-body-mobile .btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0px 5px;
  margin-bottom: 0;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dfe5e7;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
  font-size: 70%;
  font-weight: normal;
  background: transparent;
}
#header-body-mobile .btn-register {
  background-color: #5aba90;
  border: 1px solid #5aba90;
}
.hatena-globalheader-window {
  position: fixed;
  top: 37px;
  right: 100px;
  width: 150px;
  height: 300px;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 75%;
  z-index: 9999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.hatena-globalheader-window iframe {
  width: 100%;
  height: 100%;
}
.hatena-globalheader-window.message {
  font-weight: bold;
  font-size: 100%;
  font-size: 13px;
  line-height: 30px;
  margin: 0 0 20px 0;
  padding: 5px 10px 5px 35px;
  border: 1px solid #C6C3FF;
  background: #eff3ff url('/images/admin/check.png') no-repeat 7px 7px;
  color: #454545;
}
.globalheader-dropdown-wrapper .iframe-dropdown-list {
  padding: 5px 0 5px 0;
  margin: 0;
}
.globalheader-dropdown-wrapper .iframe-dropdown-list a,
.globalheader-dropdown-wrapper .iframe-dropdown-list li > span {
  display: block;
  width: 176px;
  padding: 8px 12px;
  color: #454545;
  height: 16px;
  line-height: 16px;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.globalheader-dropdown-wrapper .iframe-dropdown-list a:hover,
.globalheader-dropdown-wrapper .iframe-dropdown-list li > span:hover {
  text-decoration: none;
  background-color: #f7f8f9;
}
.globalheader-dropdown-wrapper .iframe-dropdown-list a .blogicon-subscribe,
.globalheader-dropdown-wrapper .iframe-dropdown-list li > span .blogicon-subscribe {
  margin: 0 .1em;
}
.globalheader-dropdown-wrapper .iframe-dropdown-list .favicon {
  vertical-align: text-bottom;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.globalheader-dropdown-wrapper .iframe-dropdown-list .dropdown-divider {
  padding-top: 1px;
  margin: 5px 1px 6px;
  border-bottom: 1px solid #dfe5e7;
}
.globalheader-dropdown-wrapper .iframe-dropdown-list.section {
  padding-bottom: 5px;
}
.globalheader-dropdown-wrapper .iframe-dropdown-list .dropdown-mymenu-more-blogs {
  text-align: center;
}
.globalheader-dropdown-wrapper .upgrade-pro a {
  color: #4eacd1 !important;
}
.globalheader-dropdown-wrapper .arrow a {
  background-image: url('/images/header/header-arrow.png');
  background-repeat: no-repeat;
  background-position: 5% 50%;
  padding-left: 25px;
  width: 163px;
}
.globalheader-dropdown-wrapper h1 {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 0 !important;
  padding-top: 10px !important;
}
.globalheader-dropdown-wrapper h1 a {
  color: #3d3f44;
}
.globalheader-dropdown-wrapper .search {
  padding: 8px;
}
.globalheader-dropdown-wrapper .search-form {
  width: 100%;
  border: 1px solid #dfe5e7;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.globalheader-dropdown-wrapper .search-form .search-module-input {
  padding: 5px;
  color: #555555;
  background: none;
  border: none;
  outline: none;
  height: 30px;
  width: 90%;
  box-shadow: none;
}
.globalheader-dropdown-wrapper .search-form .search-module-button {
  width: 20px;
  height: 20px;
  background: transparent url(https://blog.st-hatena.com/images/theme/search.png) no-repeat right center;
  border: none;
  outline: none;
  text-indent: -9999px;
  position: absolute;
  top: 5px;
  right: 5px;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: pointer;
}
@media (-webkit-min-device-pixel-ratio: 2) {
  .globalheader-dropdown-wrapper .search-form .search-module-button {
    background: transparent url(https://blog.st-hatena.com/images/theme/search@2x.png) no-repeat right center;
    background-size: 20px 20px;
  }
  .globalheader-dropdown-wrapper .arrow a {
    background-image: url('/images/header/header-arrow@2x.png');
    background-size: 7px 10px;
  }
}
#hatena-diary-dropdown-mymenu,
#hatena-diary-dropdown-blogmenu,
.hatena-diary-dropdown-myblogs {
  width: 200px;
}
#hatena-diary-feedback {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 37px;
  right: 188px;
  border: 1px solid #ccc;
  background: #fff;
  z-index: 9999;
}
#hatena-diary-edit-in-place {
  max-width: 982px !important;
  left: 10%;
  top: 37px;
  border: 1px solid #ccc;
  overflow: hidden;
  background: #fff;
}
#hatena-diary-dropdown-notify {
  width: 250px;
  height: 300px;
}
.hatena-iframe-container {
  position: fixed;
  top: 37px;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  overflow: hidden;
  background: #fff;
  z-index: 9999;
}
.hatena-iframe-container .loading {
  display: block;
  position: absolute;
  margin: 0;
  padding: 10% 0;
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
  background: #fff;
  opacity: 0.8;
}
.hatena-iframe-container .loading img {
  vertical-align: middle;
  margin: 2px;
}
.hatena-iframe-container iframe {
  width: 100%;
  height: 100%;
}
.hatena-iframe-container.popup {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.globalheader-config-dropdown-window {
  padding: 10px;
  font-size: 12px;
}
.globalheader-config-dropdown-window h1 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
  padding: 5px 0;
}
.globalheader-config-dropdown-window h1 a {
  display: block;
  color: #3d3f44;
}
.globalheader-config-dropdown-window ul a {
  display: block;
  padding: 8px 0;
  color: #3d3f44;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.globalheader-config-dropdown-window ul a:hover {
  text-decoration: underline;
}
.globalheader-config-dropdown-window ul .goto-dashboard a {
  border-top: 1px solid #ccc;
  margin-top: 5px;
  padding-top: 13px;
}
#username-window {
  right: 0;
  width: 150px;
  overflow: hidden;
}
#username-window li a {
  display: block;
  color: #333;
}
#username-window li img {
  vertical-align: middle;
  margin-bottom: 2px;
  margin-left: 3px;
  border: 0;
  background: #fff;
}
#username-window img {
  border: 0;
}
#username-window a {
  text-decoration: none;
}
#username-window a:hover {
  text-decoration: underline;
}
#username-window dt.label span,
#username-window li.label span {
  display: block;
  font-weight: bold;
  margin-top: 3px;
  padding: 3px 0 5px 3px;
  border-bottom: 1px solid #ddd;
  background: #fff;
  color: #000;
}
#username-window dt,
#username-window dd,
#username-window li {
  display: block !important;
  line-height: 1.5;
  margin: 0 !important;
  padding: 3px 5px;
  text-align: left;
}
#username-window dd img {
  margin-right: 4px;
  margin-left: 3px;
}
#username-window a {
  color: #333 !important;
}
#username-window li:last-child {
  border-bottom: 0;
}
#username-window img {
  vertical-align: middle;
  margin-top: -2px;
}
#notify-window {
  width: 250px;
}
#header-container #sp-suggest {
  background: #3d3f44;
  padding: 1em;
  text-align: center;
}
#header-container #sp-suggest a {
  display: inline-block;
  color: #3d3f44;
  background: #fff;
  padding: 1em;
  border-radius: .5em;
}
@media (min-width: 300px) {
  #header-container #sp-suggest a {
    font-size: 16px;
  }
}
@media (min-width: 900px) {
  #header-container #sp-suggest {
    padding: 3em;
    text-align: center;
  }
  #header-container #sp-suggest a {
    font-size: 50px;
    padding: 1em;
    border-radius: .5em;
  }
}
body.hide-global-header #globalheader-container {
  display: none;
}
#header.admin {
  background: #000000 url('/images/stripe_gray.gif') !important;
  color: #fff;
}
#header.admin a:link,
#header.admin a:visited {
  color: #fff !important;
  text-decoration: none;
}
#header.admin a:hover {
  text-decoration: underline;
}
#header.admin #userinfo {
  background: #000000 url('/images/stripe_gray.gif');
  color: #fff;
  border: 1px solid #333;
  line-height: 2;
  padding: 10px;
}
#header.admin #userinfo table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}
#header.admin #userinfo tr,
#header.admin #userinfo th {
  text-align: left;
  margin: 0;
  padding: 0 1em;
  overflow: hidden;
}
.globalheader-fixed {
  margin-top: 37px;
}
.globalheader-fixed #globalheader-container {
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}
