body{
padding-top:27px;
background-position:50% 27px;
}

#common-header{
}
#common-header .wrap{
position:absolute;
top:0;
left:0;
height:27px;
font-size:12px;
width:100%;
/* min-width:920px; */
 min-width:1070px; 
overflow:hidden;
text-align:left;
}
#common-header form{
padding:0;
margin:0;
}
#common-header .logo{
float:left;
text-align:center;
width:130px;
overflow:hidden;
}
#common-header .leftbox{
float:left;
/* width:680px; */
width:830px;
overflow:hidden;
}
#common-header .rightbox{
float:right;
width:240px;
padding-top:3px;
overflow:hidden;
}
#common-header .prbox{
float:left;
/* width:540px; */
width:690px;
padding-top:6px;
$padding-top:7px;
overflow:hidden;
}
#common-header .pr1{
float:left;
overflow:hidden;
width:237px;
background:url(http://blog.seesaa.jp/img/ico_pr2.gif) no-repeat 0 2px ! important;
padding:0px 0px 0px 28px ! important;
line-height:1.1;
}
#common-header .pr1 iframe{
}
#common-header .pr1:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html #common-header .pr1{
  zoom: 1;
} /* IE6 */
*:first-child+html #common-header .pr1{
  zoom: 1;
} /* IE7 */
#common-header .pr2{
float:left;
/* width:237px; */
width:387px;
overflow:hidden;
margin-left:10px;
background:url(http://blog.seesaa.jp/img/ico_pr3.gif) no-repeat 0 2px ! important;
padding:0px 0px 0px 28px ! important;
line-height:16px;
}
#common-header .pr2 a{
font-size:12px ! important;
text-decoration:none;
}
#common-header a.seesaa-adLink,
#common-header a.adTitle{
display:block;
text-decoration:none;
font-size:12px ! important;
/*
line-height:1.1;
background:url(http://blog.seesaa.jp/img/ico_pr.gif) no-repeat 0 100%;
padding:0px 0px 0px 32px;
*/
text-align:left;
}
#common-header a.seesaa-adLink:hover,
#common-header a.adTitle:hover{
text-decoration:none;
/* text-decoration:underline; */
}
#common-header .formtext{
border:solid 1px #999;
background-color:#fff;
background-image:url(http://blog.seesaa.jp/img/common_header/search1.gif);
background-repeat:no-repeat;
background-position:1px 1px;
padding-left:20px;
width:150px;
vertical-align:middle;
}
#common-header .formbutton{
vertical-align:middle;
border:none;
}
#common-header .both{
clear:both;
}

.pr2adlantis{
padding-top:0px;
}
.pr2icon{
float:left;
width:30px;
margin-right:3px;
}

